@page "/"
@using Car_Rental.Business.Classes
@using Car_Rental.Classes;
@using Car_Rental.Common.Classes;
@using Car_Rental.Common.Enums;
@using Car_Rental.Common.Extensions;
@inject BookingProcessor bp
@inject InputValues iv


<PageTitle>Your no.1 car rental partner.</PageTitle>
<h2>Car Rental Assignment</h2>

@* Alert label *@
<div>
    @if (bp.Error != null)
    {
        <div class="alert alert-warning align-top" style="width:500px; height:150px" role="alert">
            <ul>
                <li>@bp.Error</li>                
            </ul>
        </div>
    }
</div>

@* Vehicles *@
<h5>Vehicles</h5>
<div class="row container-fluid">
    <div class="col-md-7 form-select-sm">
        <table class="table border border-1 border-black table-hover table-sm table-borderless align-baseline">
            <thead>
                <tr class="bg-black table-active">
                    <th scope="col" class="bg-black text-white">Reg.Nr</th>
                    <th scope="col" class="bg-black text-white">Brand</th>
                    <th scope="col" class="bg-black text-white">Odometer</th>
                    <th scope="col" class="bg-black text-white">Cost/Km</th>
                    <th scope="col" class="bg-black text-white">Type</th>
                    <th scope="col" class="bg-black text-white">$ day</th>
                    <th scope="col" class="bg-black text-white">Action</th>
                    <th scope="col" class="bg-black text-white">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input style="width: 70px" class="form-text" @bind="iv.Vehicle.RegNumber"></td>
                    <td>
                        <select @bind="iv.Vehicle.Brands">
                        @foreach (var brand in Enum.GetNames(typeof(VehicleBrands)))
                        {
                            <option value="@Enum.Parse(typeof(VehicleBrands), @brand)">@brand</option>
                        }
                        </select>
                    </td>
                    <td><input style="width: 50px" class="form-text" @bind="iv.Vehicle.Odometer"></td>
                    <td><input style="width: 50px" class="form-text" @bind="iv.Vehicle.CostKm"></td>
                    <td>
                        <select @bind="iv.Vehicle.Type">
                            @foreach (var type in Enum.GetNames(typeof(VehicleTypes)))
                            {
                                <option value="@Enum.Parse(typeof(VehicleTypes), @type)">@type</option>
                            }
                        </select>
                    </td>
                    <td><input style="width: 50px" class="form-text" @bind="iv.Vehicle.CostDay"></td>
                    <td>
                        <button class="btn btn-sm btn-outline-success" style="height: 25px; width:40px" @onclick="(() => bp.AddVehicle(iv.Vehicle))">Add</button>
                    </td>
                    </tr>

                @foreach (var vehicle in bp.GetVehicles())
                {
                    <tr>
                        <td scope="row" class="fw-bold">@vehicle.RegNumber</td>
                        <td>@vehicle.Brands</td>
                        <td>@vehicle.Odometer</td>
                        <td>@vehicle.CostKm</td>
                        <td>@vehicle.Type</td>
                        <td>@vehicle.CostDay</td>
                        <td>
                            @if (vehicle.Status != VehicleStatus.Booked)
                            {
                                @if(vehicle.Status == VehicleStatus.Closed){ vehicle.Status = VehicleStatus.Available; }
                                <select @bind="iv.Person.SSN">
                                    @foreach (var person in bp.GetPersons())
                                    {
                                        <option value="@person.SSN">@person.FirstName @person.LastName (@person.SSN)</option>
                                    }
                                </select>

                                <button class="btn btn-outline-info" style="height:25px" @onclick="(() => bp.AddBooking(vehicle, iv.Person.SSN))">Rent</button>
                            }
                            else
                            {
                                
                                <input type="number" class="form-text" style="width: 145px; height:25px" @bind="iv.distance">
                                <button class="btn btn-outline-danger" style="height:25px" @onclick="(() => bp.ReturnVehicle(vehicle.Id, iv.distance))">Return</button>
                            }
                        </td>
                        <td class="badge text-bg-@(vehicle.Status == VehicleStatus.Booked ? "danger" : "dark")">@vehicle.Status</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@* Bookings *@
<h5>Bookings</h5>
<div class="row">
    <div class="col-md-7 form-select-sm">
        <table class="table border border-1 border-black table-hover table-sm table-borderless align-baseline">
            <thead>
                <tr>
                    <th scope="col" class="bg-black text-white-50">RegNo</th>
                    <th scope="col" class="bg-black text-white-50">Customer</th>
                    <th scope="col" class="bg-black text-white-50">Km rented</th>
                    <th scope="col" class="bg-black text-white-50">Km returned</th>
                    <th scope="col" class="bg-black text-white-50">Rented</th>
                    <th scope="col" class="bg-black text-white-50">Returned</th>
                    <th scope="col" class="bg-black text-white-50">Cost</th>
                    <th scope="col" class="bg-black text-white-50">Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var booking in bp.GetBookings())
                {
                    <tr>
                        <td scope="row" class="fw-bold">@booking.Vehicle.RegNumber</td>
                        <td>@booking.Customer.LastName @booking.Customer.FirstName (@booking.Customer.SSN)</td>
                        <td>@booking.KmRent</td>
                        <td>@booking.KmReturn</td>
                        <td>@booking.DateRented.ToShortDateString()</td>
                        <td>@booking.DateReturned.ToShortDateString()</td>
                        <td>@booking.RentCost</td>
                        <td class="badge text-bg-@(booking.Status == VehicleStatus.Booked ? "danger" : booking.Status == VehicleStatus.Closed ? "success" : "dark")
                                             @(booking.Status == VehicleStatus.Booked ? iv.Vehicle.Status == VehicleStatus.Booked : iv.Vehicle.Status == VehicleStatus.Closed)">@booking.Status
                        </td>
                    </tr>
                } 
            </tbody>
        </table>
     </div>
</div> 

@* Customers *@
<h5>Customers</h5>
<div class="row">
    <div class="col-md-3 form-select-sm">
        <table class="table border border-1 border-black table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class="bg-black text-white-50">SSN</th>
                    <th scope="col" class="bg-black text-white-50">Last Name</th>
                    <th scope="col" class="bg-black text-white-50" style="width:100px">First Name</th>
                    <th scope="col" class="bg-black"></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><input style="width: 75px" class="form-text" name="SSN" @bind="iv.Person.SSN"></td>
                    <td><input style="width: 120px" class="form-text" name="FirstName" @bind="iv.Person.LastName"></td>
                    <td><input style="width: 120px" class="form-text" name="LastName" @bind="iv.Person.FirstName"></td>
                    <td><button class="btn btn-sm btn-outline-success" name="AddPerson" style="height: 25px; width:40px" @onclick="(() => bp.AddPerson(iv.Person))">Add</button></td>
                </tr>
                    @foreach(var person in bp.GetPersons())
                    {
                        <tr>
                        <td scope="row" class="fw-bold form-select-sm">@person.SSN</td>
                        <td class="form-select-sm">@person.LastName</td>
                        <td class="form-select-sm">@person.FirstName</td>
                        </tr>
                    }
            </tbody>
        </table> 
    </div>
</div>